@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Macondo&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: darkgrey;
}

h1, h4, p,
a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
font-size: 1rem;
text-transform: uppercase;
background: rgb(64, 172, 78);
color: black;
border: 1px solid white;
font-weight: 00;
cursor: pointer;
}

.btn-light {
  background: transparent;
  color: black;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: black;
  transition: 0.3s;
}